.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  transition: background 0.8s ease-in-out;
}
.card.dark{
  background: #112d49;
  box-shadow: 0 2px 8px rgba(256, 256, 256, 0.26);
  border: 2px solid #fbfef9;
  color: #fbfef9;
  transition: background 0.8s ease-in-out;
}
