.song-filter-wrapper{
    margin: 10px 0;
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
}
.song-filter-wrapper span{
    position: absolute;
    top: -18px;
    left: 5px;
    z-index: 1;
    padding: 5px;
    background: white;
}
.song-filter-wrapper select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Make the input fields take up the available space */
}