.todo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 2px solid #4f005f;
    color: #112d49;
    background-color: #fbfef9;
}

.todoText {
    width: 100%;
    text-align: left;
}
.completedTodo{
    text-decoration: line-through;
}