.todo-filter-wrapper{
    position: relative;
    margin: 45px auto;
    border: 2px solid #4f005f;
    padding: 20px 20px;
    border-radius: 5px;
}

.todo-filter-wrapper span{
    position: absolute;
    top: -15px;
    left: 5%;
    font-size: 1.5rem;
    background: white;
    padding: 0 10px;
}
.todo-filter-wrapper select{
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #4f005f;
    background: #fbfef9;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #112d49;
}
